.button{
    border: none;
    outline: none;
    padding-inline: 1rem;
    padding-block: 0.75rem;
    border-radius: 1rem;
    margin-top: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &.primary-button{
        background-color: rgb(220, 50, 96);
        color: whitesmoke;
    }

    &:active{
        transform: scale(0.9);
    }
}